*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: solid red 1px; */
}

#container{
    width: 405px;
    padding: 5px;
    margin: 100px auto;
    background-color: rgb(117, 117, 117);
}
#buttons-container{
    display: flex;
    gap: 5px;
    padding: 10px;
    width: 395px;
}
#buttons-container .hover{
    background-color: rgba(0, 0, 0, 0.685);
    color: white;
}

#action-number-buttons-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#action-buttons-container{
    display: flex;
    gap: 5px;
}

.action-buttons{
    width: 90px;
    height: 70px;
    background-color: rgba(146, 18, 146, 0.9);
    color:aliceblue;
    text-align: center;
    line-height: 70px;
    flex-grow: 1;
    border-radius: 6px;
    font-size: 20px;
    user-select: none;
}
#number-buttons-container{
    display: flex;
    gap: 5px;
    width: 280px;
    flex-wrap: wrap;
}

.number-buttons{
    width: 90px;
    height: 70px;
    background: rgba(12, 12, 189, 0.9);
    color: aliceblue;
    text-align: center;
    line-height: 70px;
    border-radius: 6px;
    font-size: 30px;
    user-select: none;
}

#operator-buttons-container{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.operator-buttons, #equality-button{
    width: 90px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    background-color: rgba(8, 106, 106, 0.9);
    color: white;
    border-radius: 6px;
    font-size: 30px;
    user-select: none;
}

#display-container{
    background-color: rgb(233, 233, 233);
    color:black;
    width: 375px;
    text-align: right;
    margin: 10px 10px 0 10px;
    border-radius: 6px;
}

#display-container-small{
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    padding-right: 10px;
}

#display-container-large{
    font-size: 60px;
    height: 70px;
    line-height: 70px;
    padding-right: 10px;
}
